node_modules
dist
.expo
.expo-shared
*.log
.env
.env.local
apps/api/storage
apps/api/prisma/dev.db
apps/api/serviceAccountKey.json
apps/api/serviceAccountKey.json.json

apps/mobile/.env
coverage
.DS_Store
Thumbs.db
*.tsbuildinfo
ios
android
